{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title stuff -->
{% block title %}Password Change{% endblock title %}


<!-- Content block -->
{% block content %}
<div class="container my-5">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class='btn btn-outline-success mt-2' type="submit" value="Change Password">
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4"></div>
    </div>

</div>


{% endblock content %}