{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Enter new password{% endblock title %}

{% block content %}
<div class="container my-5 p-4">
    <div class="row">
        <div class="col"></div>

        <div class="col-sm-12 col-md-4 shadow p-4">
            <h1>Set a new password</h1>

            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-outline-success mt-2" type="submit" value="Change Password">
            </form>
        </div>

        <div class="col"></div>
    </div>

</div>

{% endblock content %}