{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Add grocery items{% endblock title %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-between mx-auto m-5">
        <div class="col-md-4"></div>

        <div class="col-md-4 shadow align-items-center p-4">
            <img src="{% static 'img/g_bag.svg' %}" class="img-fluid" alt="">
            <h2 class="mt-3 mb-0 text-center">Add Grocery</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <label for="g_date">Date</label>
                <input id='g_date' class="form-control" type="date">
                <button class="btn btn-outline-success my-2" type="submit">Save</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}