<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Libre Baskerville', serif; font-size: x-large;"
            href="/">Gro-bag</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'g_bag:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'g_bag:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'g_bag:contact' %}">Contact</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gro List
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'g_bag:grocery_new' %}">Add Items
                            </a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url 'g_bag:home' %}#gro-list">View Gro List
                            </a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"
                            aria-hidden="true"></i>
                        {{ user.username }} </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown"> <a
                            class="dropdown-item" href="{% url 'password_change'%}">Change password</a>

                        <div class="dropdown-divider"></div> <a class="dropdown-item" href="{% url 'logout' %}">Log
                            Out</a>
                        <div class="dropdown-divider"></div> <a class="dropdown-item"
                            href="{% url 'password_reset' %}">Reset Password</a>

                    </div>
                </li>
            </ul>
            {% else %}
            <form class="form-inline ml-auto">

                <a href="{% url 'login' %}" class="btn btn-outline-info"> Log In</a>
                <a href="{% url 'accounts:signup' %}" class="btn btn-secondary text-white ml-2">
                    Sign up</a>
            </form>
            {% endif %}
        </div>
    </div>

</nav>
<!-- Navbar ends -->